# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Optional: lock files si no quieres subirlos
# package-lock.json
# yarn.lock
